@use "../utils/mixins.scss";
@use "../utils/colors.scss";

/* Explorer */

.explorer {
    text-align: center;
    & p {
        padding: 1rem;
    }
    & button {
        @include mixins.button;
    }
}

.loader {
    $animation-duration: 3s;
    display: grid;
    place-items: center;
    background-color: #ffff;
    opacity: 0.9;
    position: fixed;
    height: 100vh;
    inset: 0;
    z-index: 1;
    animation: disappear 200ms;
    animation-delay: $animation-duration;
    animation-fill-mode: forwards;
    i {
        color: colors.$primary;
        animation: spinner $animation-duration infinite ease-in;
    }
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}