@use "../utils/box-shadow.scss";
@use "../utils/linear-gradient.scss";

/* Explorer */

.explorer {
    text-align: center;
    & p {
        padding: 1rem;
    }
    & button {
        color: white;
        font-weight: 300;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
        transition: 200ms;
        @include box-shadow.base-shadow;
        @include linear-gradient.gradient(0.9);
    }
    & button:hover {
        cursor: pointer;
        transform: scale(1.02);
        opacity: 0.9;
    }
}