@mixin gradient($opacity) {
    background-image: linear-gradient(0deg, rgba(147, 86, 220, $opacity), rgba(255, 121, 218, $opacity));
}

@mixin base-shadow {
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

@mixin zoom {
    transform: scale(1.02);
}